.ho-body input{
  width: 22em;
  height: 2.5em;
  margin-top: 1em;

}
.answer-button{
  height:2.5em;
  background-color:#607AA0;
  color:#ffff;

}

.two-divs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  position: absolute;
  right: 4em
}
.ho-body h1{
  font-family: 'Life Savers', serif;
  display: grid;
  position: relative;
  justify-content: center;
  color: #2B4E80;


}


.main-box{
  display: grid;
  position: relative;
  justify-content: center;
  background-color:#E6ECF4;
  width: 21em;
  height: auto;

}
.main-box img{
  height:6em;
  position: relative;
  right: -6em





}
.clear-button{
  width: 4em;
  height: 2em;
  position:relative;
  right: -18em;
  bottom: -1em;
  background-color: #D0CDCD;
  color: #ffff




}
.woody-pic img{
  height: 20em;
  display: grid;
  position: relative;

}











/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
